
#main{
margin-top: 0px;
width:100%;
height:550px;
background-color: white;
background-image: url("hero.jpg");
}



#wrapper{
  margin-top: 0px;
  width:100%x;
  height:35%;
  background-color:white;
  margin-bottom: 0px;
}

#menutop{
  margin-top:0px;
  width:auto;
  height:35px;
  margin-right: 200px;
  margin-left:200px;
  background-color: dimgrey;
  overflow: hidden;
  border-radius: 10px;
   box-shadow: 2px 5px #888888;

}

.h1{
color: white;
font-size: 60px;
font-family:serif ;
font-weight: lighter;
}
.p{
  color: white;
  font-size: 27px;
  font-family:serif ;
  font-weight: lighter;
}



#menutop a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: serif;
  font-size: 17px;
}

#menutop a:hover {
  background-color: black;
  color: grey;
}

.btn-group .button{
  background-color:  dimgrey;
  border: none;
  color: white;
  padding: 0px 9px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

#colum1{
  width:25%;
  height: 100%;
  background-color: white;
  float:left;

}
#colum2{
  width:25%;
  height: 100%;
  background-color: white;
  float: left;
}
#colum3{
  width:25%;
  height: 100%;
  background-color: white;
  float: right;
}
#colum4{
  width:25%;
  height: 100%;
  background-color:white;
  float: right;
}
#footer{
  width:100%;
  height: 100px;
  background-color: white;
  color: #6e6e6e;
  font-size: .8334em;
  line-height: 1.2;
margin-bottom: 0px;
}
.left{
    float: left;
    clear: both;
    width: 49%;
    padding-top: 1.5em;
    text-align: left;
    display: inline;
    margin: 0;
}
.right{
  float: right;
  width: 51%;
  padding-top: 1.5em;
  text-align: right;
  display: inline;

}


.pipedright {
   margin: 0;
  float: right;
  width: auto;
  text-align: right;
  padding-top: 0;
  display: inline-flex;

}
.piped  {
  float: left;
  display: inline-flex;
  margin: 10px;
  padding: 0;
}

.alli{
  margin-top: 12px;
}
